/.github export-ignore
/.dockerignore export-ignore
/.env* export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php* export-ignore
/Dockerfile* export-ignore
/Makefile export-ignore
/compose*.yml export-ignore
/composer.lock export-ignore
/dist export-ignore
/docs/SESSION* export-ignore
/docs/TASKS.md export-ignore
/docs/PROGRESS.md export-ignore
/docs/*.txt export-ignore
/phpstan.neon export-ignore
/phpunit*.xml export-ignore
/tests export-ignore
/tools export-ignore
